{% extends 'blogclases/base.html' %}

{% block content %}
<html>
<strong>Cursos</strong>
<br>
<a class = "btn btn-default" href="{% url 'ingresarCurso' %} " ><span class = "glyphicon glyphicon-pencil"></span></a>
<br>
<br>
{% for post in posts %}

<a class = "btn btn-default" href="{% url 'EditarCurso' pk=post.pk %} " ><span class = "glyphicon glyphicon-pencil"></span></a>
<a class = "btn btn-default" href="{% url 'EliminarCurso' pk=post.pk %} " ><span class = "glyphicon glyphicon-trash"></span></a>

            <p>Nombre: {{ post.cur_nombre}}<p>
            <p>Creditos: {{  post.cur_creditos}}<p>
            <br>
            {% endfor %}
{% endblock content %}
</html>
