{% extends 'blogclases/base.html' %}

{% block content %}
<strong>Catedraticos</strong>
<br>
<br>
<br>
{% for post in posts %}
<a class = "btn btn-default" href="{% url 'EditarCatedratico' pk=post.pk %} " ><span class = "glyphicon glyphicon-pencil"></span></a>

            <p>Nombre: {{ post.cat_nombre}}<p>
            <p>Apellido: {{  post.cat_apellido }}<p>
            <p>Genero: {{ post.cat_genero}} <p>
            <p>Edad: {{ post.cat_edad}}</p>
            <p>Telefono: {{ post.cat_telefono}}</p>
            <p>{{ post.text|linebreaksbr }}</p>

            {% endfor %}
{% endblock content %}
