{% extends 'blogclases/base.html' %}

{% block content %}
<strong>Asignaciones</strong>
{% for post in posts %}
<a class = "btn btn-default" href="{% url 'EditarAsignacion' pk=post.pk %} " ><span class = "glyphicon glyphicon-pencil"></span></a>


            <p>Catedratico: {{ post.as_catedratico}}<p>
            <p>Curso: {{  post.as_curso }}<p>
            <p>Alumno: {{ post.as_alumno}} <p>
            <p>asignado: {{ post.as_fecha}}</p>
            <p>{{ post.text|linebreaksbr }}</p>

    {% endfor %}
{% endblock content %}
